@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --a: 0;
    --b: 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
}

body,
html {
    height: 100%;
    width: 100%;
    background-size: max(800px, 100vh);
}

.container {
    width: 100%;
    height: 100%;
    background-color: black;
    padding: 1%;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.logo {
    width: 130px;
}

.logo img {
    width: 110px;
}

.loginButtons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    gap: 8%;
}

.singup {
    color: #b3b3b3;
    width: 65px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.singup h2 {
    font-size: 13px;
}

.singup h2:hover {
    color: #fff;
    font-size: 14px;
}

.login {
    background-color: #fff;
    width: 70px;
    height: 35px;
    border-radius: 27px;
    font-family: "PT Sans", sans-serif;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.login h2 {
    font-size: 13px;
}

.login h2:hover {
    font-size: 14px;
}

.content {
    display: flex;
    width: 100%;
    height: 90%;
    box-sizing: border-box;
    position: relative;
}

.left {
    width: 25%;
    height: 100%;
    background-color: #121212;
    margin: .5%;
    padding: .5%;
    border-radius: 1%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202020;
    border-radius: 4%;
    margin: 1%;
}

.homeSearch {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.homelogo {
    width: 8%;
    padding: 1%;
}

.search {
    width: 8%;
    padding: 1%;
}

.close {
    opacity: var(--b);
    height: 100%;
}

.library {
    width: 100%;
    height: 85%;
    background-color: #202020;
    margin: 1%;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5%;
    padding: 1%;
    box-sizing: border-box;
}

.library ::-webkit-scrollbar {
    display: none;
}

.libraryLogo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5%;
    width: 100%;
    height: 10%;
}

.libraryLogo img {
    width: 25px;
}

.libraryLogo h1 {
    font-size: 15px;
}

.libraryList {
    width: 100%;
    height: 70%;
    overflow: auto;
    background-color: #121212;
    border-radius: 2%;
}

.footer footer {
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 7%;
    box-sizing: border-box;
}

.footer a {
    text-decoration: none;
    color: #b3b3b3;
    font-size: 10px;
    padding-bottom: 3%;
}

.songsList {
    height: 100%;
    width: 100%;
}

.songsList li {
    border: 2px solid rgb(255, 255, 255);
    list-style: none;
    padding: 2%;
    border-radius: 4%;
    margin: 2%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7%;
    cursor: pointer;
    word-break: break-all;
}

.music {
    width: 10%;
}

.music img {
    width: 70%;
}

.songInfo {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.songName {
    font-size: 15px;
}

.singer {
    font-size: 10px;
    color: #b3b3b3;
}

.listPlay {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.listPlay img {
    width: 30%;
}

.right {
    width: 75%;
    height: 100%;
    background-color: #121212;
    margin: 0.5% 0.5% 0.5% 0.5%;
    border-radius: 1%;
    box-sizing: border-box;
    padding: 0.5% 0.5% 0 0.5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.right ::-webkit-scrollbar {
    display: none;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.heading p {
    font-size: 25px;
    font-weight: 600;
}

.heading img {
    opacity: var(--b);
}

.cardContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 65%;
    flex-wrap: wrap;
    overflow: auto;
}


.card {
    width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5px;
    box-sizing: border-box;
    margin: 2% 0;
    cursor: pointer;
    position: relative;
    transition: all .8s;
}

.card:hover {
    background-color: #979797;
    --a: 1;
    transition: all 1s;
}

.card>img {
    width: 100%;
    height: 150px;
    border-radius: 3%;
    object-fit: cover;
    margin-bottom: 10px;
}

.cardplay {
    width: 40px;
    height: 40px;
    background-color: #1ed760;
    border-radius: 30px;
    position: absolute;
    top: 130px;
    right: 10px;
    opacity: var(--a);
}

.cardplay img {
    width: 22px;
}

.card h2 {
    font-size: 16px;
}

.card p {
    font-size: 13px;
}

.playbar {
    background-color: #202020;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: .5%;
    width: 99%;
    height: 90px;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75%;
}

.playbarsongInfo {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.playbarsongName {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    color: #b3b3b3;
}

.playbarsingerName {
    width: 100%;
    font-size: 11px;
    font-weight: 500;
    color: #b3b3b3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.playvolume {
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btns {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    gap: 6%;
}

.btns button {
    border: none;
    background-color: #202020;
    filter: invert(1);
    width: 24px;
}

.btns :nth-child(2) {
    background-color: black;
    border-radius: 17px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns :nth-child(2) img {
    width: 24px;
}

.btns img {
    width: 24px;
    cursor: pointer;
    filter: invert(1);
}

.volumetime {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5%;
    width: 50%;
}

.volume {
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5%;
    width: 50%;
}

.volume img {
    width: 25px;
    cursor: pointer;
}

.volume input {
    width: 82px;
    height: 4px;
    cursor: pointer;
}

.time {
    width: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.time p {
    font-size: 14px;
}


.seekbar {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.bar {
    background-color: #fff;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
}

.thumb {
    background-color: #fff;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: absolute;
    left: 0%;
    transition: all .5s;
    cursor: pointer;
}

@media screen and (max-width: 900px) {


    .left {
        position: absolute;
        left: -110%;
        z-index: 1;
        height: 100%;
        width: 50%;
    }

    .right {
        width: 100%;
    }

    .close {
        --b: 1;
    }

    .heading img {
        --b: 1;
    }

    .cardContainer {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        align-items: center;
    }

}

@media screen and (max-width: 653px) {
    .left {
        width: 75%;
    }

    .volumetime {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-evenly;
        gap: 5%;
        height: 100%;
    }

    .volume {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 2px;
    }

    .volume img {
        width: 22px;
    }
}


@media screen and (max-width: 450px) {
    .left {
        width: 100%;
    }
    .playvolume{
        width: 70%;
    }
}

@media screen and (max-width: 402px) {
    .card {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card>img {
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 305px) {
    .navbar {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .logo {
        width: 100%;
    }

    .loginButtons {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
    }

    .singup {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 9px;
    }

    .login {
        width: 40px;
        height: 25px;
        border-radius: 20px;
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .heading {
        width: 100%;
        height: 20px;
    }

    .heading p {
        font-size: 15px;
    }

    .heading img {
        width: 15px;
    }

    .cardContainer {
        width: 100%;
    }

    .card {
        width: 100%;
    }

    .playbar {
        height: 40%;
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 65%;
    }

    .playbarsongInfo {
        width: 100%;
        height: 30%;
    }

    .playbarsongName {
        font-size: 13px;
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .playbarsingerName {
        font-size: 11px;
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .playvolume {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 60%;
    }

    .volumetime {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    .seekbar {
        width: 100%;
        height: 10%;
    }
}